<div class="posts-wrapper opinions-wrapper">
    <div class="post">
        <div class="container posts-container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="heading col-md-11"><span>Problem Name: <%= link_to @issue.problem_link, @issue.problem_link %> </span></div>
            </div>
            <div class="row">
            	<div class="col-md-1"></div>
            	<div class="col-md-9 bottom-line"><h3 class="opinion-title">Solution Link:</h3> <%= @issue.solution_link %></div>
            </div>
            <div class="row ">
               <div class="col-md-1"></div>
            	<div class="col-md-9 bottom-line"><h3 class="opinion-title">Description:</h3> <%= @issue.description %></div>
            </div>
            <div class="row ">
               <div class="col-md-5"></div>
            	<div class="col-md-5"><%= link_to 'Add Opinion', new_issue_opinion_path(@issue),  class: "btn btn-danger button-margin" %></div>
            </div>
        </div>

    </div>
</div>
